[MESSAGES CONTROL]
disable=no-name-in-module,fixme

[BASIC]
argument-rgx=_?_?([xyzXYZ]\d?|bg|fg|id|[_a-z][A-Za-z0-9_]{2,30})$
variable-rgx=_?_?([xyzXYZ]\d?|bg|fg|id|[_a-z][A-Za-z0-9_]{2,30})$
attr-rgx    =_?_?([xyzXYZ]\d?|bg|fg|id|[_a-z][A-Za-z0-9_]{2,30})$
